<app-navbar></app-navbar>

<mat-drawer-container class="example-container">
  <app-sidebar></app-sidebar>
  <mat-drawer-content>
    <div class="container">
      <!-- QUESTION -->
      <div class="cart-item" *ngFor="let question of questions; let i = index">
        <div class="row">
          <div class="col-md-1">
            <img cImg height="200" rounded src="assets/{{i}}.jpg" thumbnail width="80" />
          </div>
          <div class="col-md-1">
            <span class="cart-item" *ngFor="let user of users">
              <span *ngIf="user.id === question.id_user">
                <b>{{ user.name }}</b>
                <br>
                <b>{{ user.username }}</b> 
                <br>
                {{ user.occupation }}
              </span>
            </span>
          </div>
          <div class="col-md-10">
            <b>{{question.title}}</b>
            <br>
            <br>
            <b>{{question.question}}</b>
            <br>
            <i class="float-right">{{question.date}}</i>
            <br>
            <br>
            <div class="example-button-row">
              <button mat-flat-button color="primary" type="button" (click)="onSubmitTask()">Answer</button>&nbsp;
              <button mat-flat-button color="warn">
                {{question.like}} <mat-icon>favorite</mat-icon>
              </button>&nbsp;
              <button mat-flat-button color="accent">
                Report
              </button>
            </div>
          </div>
        </div>
        <br>
        <br>
      </div>
      <!-- pagination -->
      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
      </mat-paginator>
    </div>
  </mat-drawer-content>  

</mat-drawer-container>
