<p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Application Q & A</span>

    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" class="float-right">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" class="float-right">
      <mat-icon>account_circle</mat-icon>
    </button>
  </mat-toolbar>
</p>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div class="container">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label><i class="fa fa-search"></i>&nbsp;Type here to Filter</mat-label>
          <input matInput >
        </mat-form-field>
      </div>
      <!-- <div class="row"> -->
        <img cImg height="200" rounded src="assets/mike.jpg" thumbnail width="200"/>
        <b>Rahman Junadi</b><br>
        <b>@aahhh32</b><br>
        FrontEnd Developer
      <!-- </div> -->
    </div>  
  </mat-drawer>
  <mat-drawer-content>
    <div class="container">
      <br>
      <!-- QUESTION -->
      <div class="cart-item" *ngFor="let question of questions; let i = index">
        <div class="row">
          <div class="col-md-1">
            <img cImg height="200" rounded src="assets/{{question.id_user}}.jpg" thumbnail width="80" />
          </div>
          <div class="col-md-1">
            <span class="cart-item" *ngFor="let user of users">
              <span *ngIf="user.id === question.id_user">
                <b>{{ user.name }}</b>
                <br>
                <b>{{ user.username }}</b> 
                <br>
                {{ user.occupation }}
              </span>
            </span>
          </div>
          <div class="col-md-10">
            <b>{{question.title}}</b>
            <br>
            <br>
            <b>{{question.question}}</b>
            <br>
            <i class="float-right">{{question.date}}</i>
            <br>
            <br>
            <div class="example-button-row">
              <button mat-flat-button color="primary" type="button" (click)="onAnswer(question)">
                <mat-icon>question_answer</mat-icon> Answer</button>&nbsp;
              <button mat-flat-button color="warn">
                <mat-icon>favorite</mat-icon> {{question.like}}
              </button>&nbsp;
              <button mat-flat-button color="accent">
                <mat-icon>report_problem</mat-icon> Report
              </button>
            </div>
            <br>
            <!-- <div  *ngIf="i === 0">
              <div class="NgxEditor__Wrapper">
                <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                <ngx-editor [editor]="editor" [ngModel]="html" [disabled]="false" [placeholder]="'Type here...'"></ngx-editor>
              </div>
              <br>
              <button mat-flat-button color="primary" type="button" (click)="onSubmitTask()" class="float-right">Send</button>
            </div> -->
          </div>
        </div>
        <br>
        <br>
      </div>
      <!-- pagination -->
      <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
      </mat-paginator>
    </div>
  </mat-drawer-content>  

</mat-drawer-container>