<p>
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My Application Q & A</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" class="float-right">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" class="float-right">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
</p>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  </mat-drawer>
  <mat-drawer-content>

    <div class="cart-item" *ngFor="let question of questions; let i = index">
        <mat-card>
          <mat-card-content>
            <img cImg height="200" rounded src="assets/mike.jpg" thumbnail width="50" />
            <span class="cart-item" *ngFor="let user of users">
              <span *ngIf="user.id === question.id_user">
                {{ user.name }} [{{ user.username }}] &nbsp;
              </span>
            </span>
          </mat-card-content>
          <mat-card-content>
            <b>{{question.title}}</b>
            <br>
            <b>{{question.question}}</b>
          </mat-card-content>
          <div class="example-button-row">
            <button mat-flat-button color="primary">
              15 <mat-icon>favorite</mat-icon>
            </button>&nbsp;
            <button mat-flat-button color="warn">
              Report
            </button>
          </div>
          <!-- <form [formGroup]="todoForm">
            <mat-form-field class="example-full-width">
              <mat-label>Leave a comment</mat-label>
              <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>
          </form> -->
          <!-- <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
            <ngx-editor [editor]="editor" [ngModel]="html" [disabled]="true" [placeholder]="'Type here...'"
              formControlName="task" id="task"></ngx-editor>
          </div> -->
          <!-- <br>
          <button mat-raised-button color="primary" type="button" class="float-right"
            (click)="onSubmitTask()">Answer</button><br><br> -->
        </mat-card>
      <br>
    </div>

    <!-- pagination -->
    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator>
  </mat-drawer-content>
</mat-drawer-container>



<!-- <div style="display: none;">

  <div style="color:blue">
    <div class="cart-question" *ngFor="let question of taskList">
      <div [innerHTML]="question.task">
        {{ question.task }}
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <form [formGroup]="todoForm">
      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
        <ngx-editor [editor]="editor" [ngModel]="html" [disabled]="true" [placeholder]="'Type here...'"
          formControlName="task" id="task"></ngx-editor>
      </div>
      <br>
      <button mat-raised-button color="primary" type="button" (click)="onSubmitTask()">Answer</button>
    </form>
  </div>
  <div class="container">
    <mat-card>
      <mat-card-content>
        <div class="row">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="task">
              <th mat-header-cell *matHeaderCellDef> Task </th>
              <td mat-cell *matCellDef="let element ; let i = index;">
                <div *ngIf="element.checklist == true">
                  <div style="text-decoration: line-through;">
                    <p>{{element.task}}</p>
                  </div>
                </div>
                <div *ngIf="element.checklist == false">
                  <p>{{element.task}}</p>
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="checked">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let element ; let i = index">
                <mat-checkbox [checked]="element.checked" (change)="onChecklistTask(element)"></mat-checkbox>
              </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element ; let i = index"> <button mat-raised-button color="warn"
                  type="button" (click)="onDeleteTask(i)">
                  <mat-icon>delete</mat-icon>
                </button></td>
            </ng-container>


            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div> -->