<div class="container">
    <!-- <div class="row">
      <mat-form-field appearance="outline">
        <mat-label><i class="fa fa-search"></i>&nbsp;Type here to Filter</mat-label>
        <input matInput >
      </mat-form-field>
    </div> -->
    <br>
    <mat-list>
        <a class="list" [routerLink]="['/qna']"><mat-list-item>Questions</mat-list-item></a>
        <a class="list" [routerLink]="['/user']"><mat-list-item>Users</mat-list-item></a>
    </mat-list>
    <br>

    <img cImg height="200" rounded src="https://cdn-icons-png.flaticon.com/512/219/219969.png" thumbnail width="100"/><br />
    <b>Rahman Junadi</b><br />
    <b>@aahhh32</b><br />
    FrontEnd Developer

  </div>